
body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: bold;
	font-size: 18px;
	background-color: #7f8c8d;
	background-image: url("dilje/background\ color.jpg");
	background-position: 55% 55%;
	background-size: left;
	margin: 0;  
  }
  header{
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	background: rgba(135, 195, 240, 0.5);
	color: #04eff7
  }
  .heading{
	color: #336699;
  }
  #my-image{
	box-shadow: 0px 0px 2px 1px rgba(0,0,0)
  }
  ul{
	list-style: square;
  }
  ul,
  li:nth-child(odd) {
background:gray;
  }
  li:nth-child(odd) {
	background:#7f8c8d;
  }
img {
	max-width: 100%;
}
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
header {
	margin-top: 0;
	color: #336699;
	text-align: center;
}
nav {
	font-family: Verdana, Arial, serif;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}
nav ul {
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
nav li {
	background-color: #336699; 
	border-radius: 2em; 
	list-style-type: none; 
	margin: 0.3em; 
	padding: 0.4em;  
}
nav li a { 
	color: #FFFFFF; 
	text-decoration: none; 
}
a:link{
	text-decoration: none;
	background:rgb(255, 247, 8);
	border:black;
}
a:hover {
	background-color: #db1d1d;
}
main {
	display: block;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 0.5em;
	padding: 1em;
	background-color: #FFFFFF;
	border-top: solid 0.2em #336699; 
	border-bottom: solid 0.2em #336699;
}
footer {
	width:100%;
	font-size:medium;
	text-align: center;
	margin-top:18px;
	background: rgba(135, 195, 240, 0.5);
	color: #04eff7
}
